// GLOBAL STYLES
// variables
$primaryColor: black;
$secondaryColor: orange;
$accentColor: #FEE94E;


// mixins
@mixin primaryFont($fontSize) {
    font-size: $fontSize * 1px;
    font-size: ($fontSize / 10) * 1rem;
    font-family: 'Oswald', sans-serif;
} 

@mixin secondaryFont($fontSize) {
    font-size: $fontSize * 1px;
    font-size: ($fontSize / 10) * 1rem;
    font-family: 'Merriweather Sans', sans-serif;
}

// Setup styles
@import "partials/_setup.scss";

// Header styles
@import "partials/_header.scss";

// Home page styles 
@import "partials/_home.scss";

// About page & Resources page styles
@import "partials/_aboutUs.scss";

// Footer styles
@import "partials/_footer.scss";

// Responsive styles
@import "partials/_mq.scss";


// general styles


.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

// typography
html {
    font-size: 62.5%;
    color: $primaryColor;
}

h1 {
    @include primaryFont(50);
    text-transform: uppercase;
    font-weight: 500;
}

h3 {
    @include primaryFont(25);
    text-transform: uppercase;
    font-weight: 400;
    color: $secondaryColor;
    margin: 15px 0;
}

h4 {
    @include primaryFont(28);
    color: black;
    text-transform: uppercase;
    // border-bottom: 2px solid $accentColor;
    display: inline-block;
    text-align: center;
    font-weight: 400;
    margin: 0 0 15px 0;
}

ul {
    padding-left: 0;
}

li {
    list-style: none;
    @include secondaryFont(13);
    font-weight: 300;
}

a {
    text-decoration: none;
    color: $secondaryColor;
    transition: 0.3s ease-in-out;
}

p {
    @include secondaryFont(16);
    line-height: 1.6;
    font-weight: 400;
}

.highlight {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

img {
    width: 100%;
}

.id {
    font-size: 0;
}