// ABOUT PAGE, RESOURCES PAGE and RESULTS PAGE STYLES


// About Page styles (about.html)
.aboutSection {
   padding: 60px 0;

   p {
       font-weight: 300;
       @include secondaryFont(15);
   }

    p:last-child {
        margin-top: 35px;
    }
}

#reliefWeb,
.developers {
    color: grey;

    &:hover {
        color: lighten(grey, 10);
        transition: color 0.3s;
    }
}


// Resources Page styles (resources.html)
.resourcesSection {
    padding-bottom: 60px;

    li {
        list-style: disc;
        line-height: 2.5;
        margin-left: 15px;
    }

    a {
        color: #C4A444;
    
        &:hover {
            color: lighten(grey, 10);
            transition: color 0.3s;
        }
    }
}


