// FOOTER STYLES

footer {
    background-color: $primaryColor;
    padding: 1px 0;

    p {
        color: $thirdColor;
        padding: 0 25px;
    }

    a {
        color: $accentColor;
        font-size: 20px;
        padding: 0 10px;

        &:hover {
           color: lighten($accentColor, 20);
           transition: color 0.3s;
        }
    }
}

.footerInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footerSocial {
    display: flex;
    flex-direction: row;
    padding: 0 25px;
}

