// FOOTER STYLES

footer {
    background-color: $primaryColor;
    padding: 1px 0;

    p {
        font-size: 1.25rem;
        color: white;
    }
}

// .footerInfo {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: center;
// }

