// HEADER STYLES

.headerNav {
    background: black;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}


.headerList {
    display: flex;
    flex-direction: row;

    #aboutIcon,
    #homeIcon {
        transition: 0.3s ease-in-out all;
    }

    #aboutIcon {
        @include primaryFont(20);
        border: 1px solid $secondaryColor;
        // border-radius: 20px;
        padding: 0px 8px;
        display: inline-block;

        &:hover {
            color: lighten($secondaryColor, 20);
            border: 1px solid lighten($secondaryColor, 20);
        }
    }

    #homeIcon {
        padding: 0px 8px;
        @include primaryFont(23);

        &:hover {
            color: lighten($secondaryColor, 20);
        }
    }
}



