// HEADER STYLES

.headerNav {
    border-bottom: 2.5px solid $thirdColor;
    
    .wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

.headerList {
    display: flex;
    flex-direction: row;

    li {
        padding: 15px;
    }

    a {
        padding-bottom: 5px;
        transition: all 0.3s;

        &:hover {
            border-bottom: 2px solid black;
            font-weight: 700;
        }
    }
}

h1 {
    text-align: center;
    color: $accentColor;
    padding: 50px 0 65px 0;
    position: relative;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

header {
    background: url(./earth.svg);
}

.iconContainer {
    position: relative;
}

.fa-parachute-box {
    position: absolute;
    font-size: 65px;
    top: -30px;
    margin-left: 15px;
    z-index: 20;

}

.earth {
    position: absolute;
    width: 120px;
    height: 120px;
    z-index: 10;
    top: 0;
    left: -25px;
}

