// HOMEPAGE STYLES

// SECTION 1: HOW TO USE STYLES
.introSection {
    background: url(geometricEarth.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    color: white;
    padding-top: 25px;
    position: relative;
    z-index: 100;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        // background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
        background-image: linear-gradient(to bottom right, $accentColor, $secondaryColor);
        opacity: .6; 
        z-index: 200;
    }

}


.infoContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    z-index: 300;
    left: 0;
    right: 0;
    // background: rgba(0, 0, 0, 0.5);
    padding: 25px 0;
    color: black;
}

.infoWhat {
    margin-right: 35px;
}

.info {
    width: calc(45% - 35px);
    text-align: center;
}

.down {
    margin-top: 85px;
    text-align: center;
    position: relative;
    z-index: 400;
    top: 280px;
    
    a {
        @include secondaryFont(18);
        letter-spacing: 1.5px;
        text-transform: uppercase;
        color: black;
        border: 2px solid black;
        padding: 10px 15px;
        font-weight: 300;

            &:hover {
                color: $secondaryColor;
                border: 2px solid $secondaryColor;
        }
    }
}
// END OF SECTION 1: HOW TO USE STYLES

// SECTION 2: SEARCH STYLES
.searchSection {

    h4 {
        padding-bottom: 25px;
        border-bottom: none;
        color: white;
    }
}

.formBackground {
    background: black;
    text-align: center;
    padding: 90px 0 70px 0;
}

form {
    text-align: center;
    padding-bottom: 20px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    background: rgba(255,255,255,0);
}


fieldset {
   background-image: url(worldmap.png);
   background-color: white;
   background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
   border: 1px solid white;
}

.formButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.countriesButton,
.vulnerableGroupButton {
    width: 49.81%;
    padding: 12.5px 0;
}

button {
    @include primaryFont(23.5);
    // width: 135px;
    // height: 55px;
}

.countriesButton {
    background-color: #C4A444;
    border: 1.5px solid #C4A444;
    color: black;
}

.countriesButton,
.submitSearch {
    &:hover {
        background-color: lighten($accentColor, 20);
        border: 1.5px solid lighten($accentColor, 20);
        transition: all 0.3s;
    }
}

.vulnerableGroupButton {
    // background-color: $thirdColor;
    border: 1.5px solid #C4A444;
    color: black;

    &:hover {
        // background-color: lighten($thirdColor, 20);
        border: 1.5px solid lighten(#C4A444, 20);
        transition: all 0.3s;
    }
}

.countryTable,
.vulnerableGroupTable {
    padding: 15px;
    margin: 0 auto;
    display: grid;
    grid-gap: 10px;
    align-items: start;
}

.countryTable {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
}

.vulnerableGroupTable {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.country,
.vulnerableGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    justify-self: flex-start;
}

.country input[type="checkbox"],
.vulnerableGroup input[type="checkbox"] {
    opacity: 0;
    margin-left: 8px;

    &:checked + .checkmark:after {
        content: "";
        transition: all 1s;
    }
}

.country label,
.vulnerableGroup label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-right: 8px;
}

.checkmark:before {
    content: "";
    display: inline-block;
    height: 13.5px;
    width: 13.5px;
    border: 1.5px solid black;
    position: absolute;
    top: -1.5px;
    left: 6px;
}

.checkmark:after {
    content: none;
    display: inline-block;
    height: 5px;
    width: 9.5px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    position: absolute;
    left: 8.5px;
    top: 1px;
    color: $secondaryColor;
}

.submitSearch {
    @include secondaryFont(18);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: $secondaryColor;
    border: 2px solid $secondaryColor;
    padding: 10px 15px;
    font-weight: 300;
    background: black;
    margin-top: 35px;
    transition: 0.3s ease-in-out all;

     &:hover {
        color: lighten($secondaryColor, 20);
        border: 2px solid lighten($secondaryColor, 20);
        background: black;
    }
}
// END OF SECTION 2: SEARCH STYLES


// SECTION 3: * RESULTS *
// Results Page styles (located in home.html)
.resultsSection {
    padding: 20px 0 50px 0;
    margin-top: 50px;

    h4 {
        color: black;
        // border-bottom: 2px solid black;
    }

    h5 {
        @include secondaryFont(18);
        color: black;
        border-bottom: 2px solid $accentColor;
        font-weight: 400;
        display: inline-block;
    }

    h6 {
        @include secondaryFont(15);
        font-weight: 400;
        margin: 12px 0;
        color: black;
    }

}

.resultsHeadings {
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.back a {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 5px;
    color: black;

    &:hover {
        color: lighten($primaryColor, 30);
        transition: all 0.3s;
    }

    .fa-long-arrow-alt-left{
        font-size: 25px;
    }

    h6 {
        margin-left: 10px;
    }
}

.results {
    padding: 15px 30px;
    // background: white;
    // box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}



.vulnerableGroupHeading {
    color: gray;
}

.charities {
    @include secondaryFont(15);
    font-weight: 400;  
    padding: 5px 10px; 
    background: gainsboro;
    margin-bottom: 75px;
}


// READ MORE
.resultsList {
    p {
        @include secondaryFont(13);
    }

}

.resultListItem {
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    padding: 10px 30px 30px 30px;
    margin: 25px 0;
}

.articleTitle {
    text-align: left;
    @include primaryFont(27);
    padding-top: 35px;
}


.articleLink {
    color: gray;
    transition: 0.3s ease-in-out all;

    &:hover {
        color: lightgray;
    }
}

.readMore {
    @include secondaryFont(15);
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #C4A444;
    border: 2px solid #C4A444;
    padding: 10px 15px;
    font-weight: 300;
    
    margin-top: 35px;
    transition: 0.3s ease-in-out all;

     &:hover {
        color: lighten(#C4A444, 20);
        border: 2px solid lighten(#C4A444, 20);
        background: black;
    }
}



// END OF SECTION 3: * RESULTS *