// RESPONSIVE STYLES

/* Landscape Phone to Portrait Tablet */
@media (max-width: 760px) {
    
    // HEADER
    .headerNav {

        .wrapper {
            justify-content: center;
        }

        .logo {
            display: none;
        }
    }

    // displayed Header Title (hidden full screen)
     header .title {   
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .iconContainer2 {
            position: relative;
        }

        h1 {
            @include primaryFont(30);
            text-align: center;
            margin: 40px 0 20px 0;
            color: $accentColor;
        }

        .fa-parachute-box {
            font-size: 33px;
            position: absolute;
            top: -25px;
            right: -65px;
            z-index: 100;
        }

        .earthIcon {
            position: absolute;
            width: 75px;
            height: 75px;
            top: -10px;
            right: -80px;
        }
    }
    // END OF HEADER


    // MAIN
    .introSection {
        h4 {
            margin-bottom: 15px;
        }
    }
    .introRows {
        flex-direction: column;

        p {
            width: 100%;
            margin: 20px 0;
        }

        p:nth-of-type(2) {
            margin: 0;
        }
    }

    .searchSection {
        .countryTable,
        .vulnerableGroupTable {
            padding: 5px;
            grid-gap: 0;
        }
    }
    // END OF MAIN
}


/* Landscape phones and down */
@media (max-width: 480px) {

    // HEADER
    .headerList {
        li {
            @include primaryFont(13.5);
        }
    }

    header .title {

        h1 {
            @include primaryFont(25);
            padding: 15px 0 0 0;
            margin-top: 10px;
        }

        .fa-parachute-box {
            font-size: 20px;
            right: -45px;
            top: -15px;
        }

        .earthIcon {
            width: 50px;
            height: 50px;
            right: -55px;
            top: -5px;
        }
    }
    // END OF HEADER

    // MAIN (for Home, About and Resources pages)
    .introSection {
        h4 {
            margin: 0;
        }

        .down {
            margin: 0px;
        }
    }

    .introSection,
    .searchSection,
    .aboutSection,
    .resourcesSection {
        h4 {
            @include primaryFont(16);
        }

        p {
            @include secondaryFont(12);
        }   
    }

    .searchSection {
        .countryTable {
            grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
        }

        .vulnerableGroupTable {
            grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        }

        .country,
        .vulnerableGroup {
            justify-content: flex-start;
            padding: 5px;
        }
    }

    .resourcesSection {
        padding-top: 40px;
        li {    
            @include primaryFont(12.5);
        }   
    }
    // END OF MAIN

    // FOOTER
    footer {
        p {
            @include secondaryFont(10.5);
        }

        a {
            font-size: 12.5px;
        }
    }
    // END OF FOOTER
}