article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.headerNav {
  background: black;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }
  .headerNav .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

.headerList {
  display: flex;
  flex-direction: row; }
  .headerList #aboutIcon,
  .headerList #homeIcon {
    font-size: 20px;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif;
    border: 1px solid orange;
    padding: 0px 8px;
    display: inline-block; }
    .headerList #aboutIcon:hover,
    .headerList #homeIcon:hover {
      color: #ffc966;
      border: 1px solid #ffc966; }
  .headerList #homeIcon {
    padding: 2.5px 7px; }

.introSection {
  background: url(geometricEarth.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  color: white;
  padding-top: 25px;
  position: relative;
  z-index: 100; }
  .introSection:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to bottom right, #FEE94E, orange);
    opacity: .6;
    z-index: 200; }

.infoContainer {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: row;
  z-index: 300;
  left: 0;
  right: 0;
  padding: 25px 0;
  color: black; }

.infoWhat {
  margin-right: 35px; }

.info {
  width: calc(45% - 35px);
  text-align: center; }

.down {
  margin-top: 85px;
  text-align: center;
  position: relative;
  z-index: 400;
  top: 280px; }
  .down a {
    font-size: 18px;
    font-size: 1.8rem;
    font-family: 'Merriweather Sans', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: black;
    border: 2px solid black;
    padding: 10px 15px;
    font-weight: 300; }
    .down a:hover {
      color: orange;
      border: 2px solid orange; }

.searchSection h4 {
  padding-bottom: 25px;
  border-bottom: none;
  color: white; }

.formBackground {
  background: black;
  text-align: center;
  padding: 90px 0 70px 0; }

form {
  text-align: center;
  padding-bottom: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0); }

fieldset {
  background-image: url(worldmap.png);
  background-color: white;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid white; }

.formButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.countriesButton,
.vulnerableGroupButton {
  width: 49.81%;
  padding: 12.5px 0;
  transition: all 0.3s; }

button {
  font-size: 23.5px;
  font-size: 2.35rem;
  font-family: 'Oswald', sans-serif; }

.countriesButton {
  background-color: #C4A444;
  border: 1.5px solid #C4A444;
  color: black; }

.countriesButton:hover {
  background: #dcca92;
  border: 1.5px solid #dcca92; }

.vulnerableGroupButton {
  background-color: white;
  border: 1.5px solid #C4A444;
  color: black; }
  .vulnerableGroupButton:hover {
    background-color: white;
    border: 1.5px solid #dcca92;
    transition: all 0.3s; }

.countryTable,
.vulnerableGroupTable {
  padding: 15px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  align-items: start; }

.countryTable {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); }

.vulnerableGroupTable {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); }

.country,
.vulnerableGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  justify-self: flex-start; }

.country input[type="checkbox"],
.vulnerableGroup input[type="checkbox"] {
  opacity: 0;
  margin-left: 8px; }
  .country input[type="checkbox"]:checked + .checkmark:after,
  .vulnerableGroup input[type="checkbox"]:checked + .checkmark:after {
    content: "";
    transition: all 1s; }

.country label,
.vulnerableGroup label {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-right: 8px; }

.checkmark:before {
  content: "";
  display: inline-block;
  height: 13.5px;
  width: 13.5px;
  border: 1.5px solid black;
  position: absolute;
  top: -1.5px;
  left: 6px; }

.checkmark:after {
  content: none;
  display: inline-block;
  height: 5px;
  width: 9.5px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  position: absolute;
  left: 8.5px;
  top: 1px;
  color: orange; }

.submitSearch {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'Merriweather Sans', sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: orange;
  border: 2px solid orange;
  padding: 10px 15px;
  font-weight: 300;
  background: black;
  margin-top: 35px;
  transition: 0.3s ease-in-out all; }
  .submitSearch:hover {
    color: #ffc966;
    border: 2px solid #ffc966;
    background: black; }

.resultsSection {
  padding: 20px 0 50px 0;
  margin-top: 50px; }
  .resultsSection h4 {
    color: black; }
  .resultsSection h5 {
    font-size: 18px;
    font-size: 1.8rem;
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    border-bottom: 2px solid #FEE94E;
    font-weight: 400;
    display: inline-block; }
  .resultsSection h6 {
    font-size: 15px;
    font-size: 1.5rem;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    margin: 12px 0;
    color: black; }

.resultsHeadings {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.back a {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 5px;
  color: black; }
  .back a:hover {
    color: #4d4d4d;
    transition: all 0.3s; }
  .back a .fa-long-arrow-alt-left {
    font-size: 25px; }
  .back a h6 {
    margin-left: 10px; }

.results {
  padding: 15px 30px; }

.vulnerableGroupHeading {
  color: gray; }

.charities {
  font-size: 15px;
  font-size: 1.5rem;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 400;
  padding: 5px 10px;
  background: gainsboro;
  margin-bottom: 75px; }

.resultsList p {
  font-size: 13px;
  font-size: 1.3rem;
  font-family: 'Merriweather Sans', sans-serif; }

.resultListItem {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 10px 30px 30px 30px;
  margin: 25px 0; }

.articleTitle {
  text-align: left;
  font-size: 27px;
  font-size: 2.7rem;
  font-family: 'Oswald', sans-serif;
  padding-top: 35px; }

.articleLink {
  color: gray;
  transition: 0.3s ease-in-out all; }
  .articleLink:hover {
    color: lightgray; }

.readMore {
  font-size: 15px;
  font-size: 1.5rem;
  font-family: 'Merriweather Sans', sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #C4A444;
  border: 2px solid #C4A444;
  padding: 10px 15px;
  font-weight: 300;
  margin-top: 35px;
  transition: 0.3s ease-in-out all; }
  .readMore:hover {
    color: #dcca92;
    border: 2px solid #dcca92;
    background: black; }

.aboutSection {
  padding: 60px 0; }
  .aboutSection p {
    font-weight: 300;
    font-size: 15px;
    font-size: 1.5rem;
    font-family: 'Merriweather Sans', sans-serif; }
  .aboutSection p:last-child {
    margin-top: 35px; }

#reliefWeb,
.developers {
  color: #C4A444; }
  #reliefWeb:hover,
  .developers:hover {
    color: #dcca92;
    transition: color 0.3s; }

.resourcesSection {
  padding-bottom: 60px; }
  .resourcesSection li {
    list-style: disc;
    line-height: 2.5;
    margin-left: 15px; }
  .resourcesSection a {
    color: #C4A444; }
    .resourcesSection a:hover {
      color: #dcca92;
      transition: color 0.3s; }

footer {
  background-color: black;
  padding: 1px 0; }
  footer p {
    font-size: 1.25rem;
    color: white;
    font-weight: 300; }

/* Landscape Phone to Portrait Tablet */
@media (max-width: 760px) {
  .introSection h4 {
    margin-bottom: 15px; }
  .introRows {
    flex-direction: column; }
    .introRows p {
      width: 100%;
      margin: 20px 0; }
    .introRows p:nth-of-type(2) {
      margin: 0; }
  .down {
    top: 300px; }
  .searchSection .countryTable,
  .searchSection .vulnerableGroupTable {
    padding: 5px;
    grid-gap: 0; }
  .results {
    padding: 0; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  header h3 {
    font-size: 18px;
    font-size: 1.8rem;
    font-family: 'Oswald', sans-serif;
    margin: 12px 0 7px 0; }
  .headerList li {
    font-size: 20px;
    font-size: 2rem;
    font-family: 'Oswald', sans-serif; }
  .headerList #aboutIcon,
  .headerList #homeIcon {
    border: none; }
    .headerList #aboutIcon:hover,
    .headerList #homeIcon:hover {
      border: none; }
  .infoContainer {
    padding-top: 25px;
    flex-direction: column;
    position: relative; }
    .infoContainer .infoWhat {
      padding-bottom: 20px; }
    .infoContainer .info {
      width: 100%;
      margin: 0; }
  .down {
    margin-top: 15px;
    position: relative;
    top: 0; }
    .down a {
      font-size: 13px; }
  .introSection h4,
  .searchSection h4,
  .aboutSection h4,
  .resourcesSection h4 {
    font-size: 23.5px;
    font-size: 2.35rem;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 0; }
  .introSection p,
  .searchSection p,
  .aboutSection p,
  .resourcesSection p {
    font-size: 13px;
    font-size: 1.3rem;
    font-family: 'Merriweather Sans', sans-serif; }
  button {
    font-size: 16px; }
  .countriesButton,
  .vulnerableGroupButton {
    width: 49.5%;
    padding: 10px 0; }
  .submitSearch,
  .readMore {
    font-size: 13px; }
  .searchSection .countryTable {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); }
  .searchSection .vulnerableGroupTable {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); }
  .searchSection .country,
  .searchSection .vulnerableGroup {
    justify-content: flex-start;
    padding: 5px; }
  .resourcesSection {
    padding-top: 40px; }
    .resourcesSection li {
      font-size: 12.5px;
      font-size: 1.25rem;
      font-family: 'Oswald', sans-serif; }
  .results h6 {
    font-size: 13.5px; }
  .results h5 {
    font-size: 14.5px; }
  .results h4 {
    font-size: 15px; }
  .results p {
    font-size: 12px; }
  .results .readMore {
    margin-top: 12px; }
  .aboutSection {
    padding: 30px 0; }
    .aboutSection h4 {
      margin-bottom: 10px;
      font-size: 16px; }
  .resourcesSection {
    padding: 10px 0; }
    .resourcesSection h4 {
      font-size: 16px; }
    .resourcesSection li {
      font-family: 'Merriweather Sans', sans-serif; }
  footer p {
    font-size: 10.5px;
    font-size: 1.05rem;
    font-family: 'Merriweather Sans', sans-serif; }
  footer a {
    font-size: 12.5px; } }

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto; }

html {
  font-size: 62.5%;
  color: black; }

h1 {
  font-size: 50px;
  font-size: 5rem;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 500; }

h3 {
  font-size: 25px;
  font-size: 2.5rem;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  color: orange;
  margin: 15px 0; }

h4 {
  font-size: 28px;
  font-size: 2.8rem;
  font-family: 'Oswald', sans-serif;
  color: black;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  font-weight: 400;
  margin: 0 0 15px 0; }

ul {
  padding-left: 0; }

li {
  list-style: none;
  font-size: 13px;
  font-size: 1.3rem;
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 300; }

a {
  text-decoration: none;
  color: orange;
  transition: 0.3s ease-in-out; }

p {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'Merriweather Sans', sans-serif;
  line-height: 1.6;
  font-weight: 400; }

.highlight {
  font-weight: 700; }

.italic {
  font-style: italic; }

img {
  width: 100%; }

.id {
  font-size: 0; }
