article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.headerNav {
  border-bottom: 2.5px solid #EBEBEB; }
  .headerNav .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

.headerList {
  display: flex;
  flex-direction: row; }
  .headerList li {
    padding: 15px; }
  .headerList a {
    padding-bottom: 5px;
    transition: all 0.3s; }
    .headerList a:hover {
      border-bottom: 2px solid black;
      font-weight: 700; }

h1 {
  text-align: center;
  color: #D2113A;
  padding: 50px 0 65px 0;
  position: relative; }

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.fa-parachute-box {
  font-size: 65px;
  margin-left: 15px; }

.highlight {
  font-weight: 700; }

.searchSection {
  margin-top: 50px; }
  .searchSection h4 {
    padding-bottom: 25px; }

.formBackground {
  background: linear-gradient(#EBEBEB, white, #EBEBEB);
  padding: 30px 0 70px 0; }

form {
  text-align: center;
  padding-bottom: 20px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }

form,
fieldset {
  background-color: white;
  border: 1px solid white; }

.formButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.countriesButton,
.vulnerableGroupButton {
  width: 50%; }

button {
  font-size: 16px;
  font-size: 1.6rem;
  font-family: 'Cabin', sans-serif;
  width: 135px;
  height: 50px; }

.countriesButton {
  background-color: #D2113A;
  border: 1.5px solid #D2113A;
  color: white;
  opacity: 0.85; }

.countriesButton:hover,
.submitSearch:hover {
  background-color: #f15878;
  border: 1.5px solid #f15878;
  transition: all 0.3s; }

.vulnerableGroupButton {
  background-color: #EBEBEB;
  border: 1.5px solid #D2113A;
  color: #D2113A; }
  .vulnerableGroupButton:hover {
    background-color: white;
    border: 1.5px solid #f15878;
    transition: all 0.3s; }

.countryTable,
.vulnerableGroupTable {
  padding: 15px;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
  justify-content: center;
  align-content: center; }

.countryTable {
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); }

.vulnerableGroupTable {
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)); }

.country,
.vulnerableGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  justify-self: center; }

.country input[type="checkbox"],
.vulnerableGroup input[type="checkbox"] {
  opacity: 0;
  margin-left: 8px; }
  .country input[type="checkbox"]:checked + .checkmark:after,
  .vulnerableGroup input[type="checkbox"]:checked + .checkmark:after {
    content: "";
    transition: all 1s; }

.country label,
.vulnerableGroup label {
  display: inline-block;
  position: relative;
  cursor: pointer; }

.checkmark:before {
  content: "";
  display: inline-block;
  height: 13.5px;
  width: 13.5px;
  border: 1.5px solid black;
  position: absolute;
  top: -1.5px;
  left: 6px; }

.checkmark:after {
  content: none;
  display: inline-block;
  height: 5px;
  width: 9.5px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  position: absolute;
  left: 8.5px;
  top: 1px;
  color: #D2113A; }

.submitSearch {
  background-color: #D2113A;
  border: 1px solid #D2113A;
  color: white;
  opacity: 0.85;
  margin: 0 auto;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2); }

.aboutSection {
  padding-bottom: 60px; }
  .aboutSection p:last-child {
    margin-top: 35px; }

#reliefWeb,
.developers {
  color: grey; }
  #reliefWeb:hover,
  .developers:hover {
    color: #9a9a9a;
    transition: color 0.3s; }

.resourcesSection {
  padding-bottom: 60px; }
  .resourcesSection li {
    list-style: disc;
    line-height: 2.5; }
  .resourcesSection a:hover {
    color: #9a9a9a;
    transition: color 0.3s; }

footer {
  background-color: #333333;
  padding: 1px 0; }
  footer p {
    color: #EBEBEB;
    padding: 0 25px; }
  footer a {
    color: #D2113A;
    font-size: 20px;
    padding: 0 10px; }
    footer a:hover {
      color: #f15878;
      transition: color 0.3s; }

.footerInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

.footerSocial {
  display: flex;
  flex-direction: row;
  padding: 0 25px; }

/* Landscape Phone to Portrait Tablet */
@media (max-width: 760px) {
  .headerNav h3 {
    display: none; }
  .headerNav .wrapper {
    justify-content: center; }
  .title h1 {
    font-size: 35px;
    font-size: 3.5rem;
    font-family: 'Cabin', sans-serif;
    padding-bottom: 30px; }
  .fa-parachute-box {
    font-size: 50px;
    margin-top: 27px; }
  .searchSection .countryTable,
  .searchSection .vulnerableGroupTable {
    padding: 5px;
    grid-gap: 0; } }

/* Landscape phones and down */
@media (max-width: 480px) {
  .headerList li {
    font-size: 13.5px;
    font-size: 1.35rem;
    font-family: 'Cabin', sans-serif; }
  .title h1 {
    font-size: 28px;
    font-size: 2.8rem;
    font-family: 'Cabin', sans-serif;
    padding: 15px 0 0 0; }
  .title .fa-parachute-box {
    font-size: 30px;
    margin-left: 5px;
    margin-top: 60px; }
  .introSection h4,
  .searchSection h4,
  .aboutSection h4,
  .resourcesSection h4 {
    font-size: 18px;
    font-size: 1.8rem;
    font-family: 'Cabin', sans-serif; }
  .introSection p,
  .searchSection p,
  .aboutSection p,
  .resourcesSection p {
    font-size: 12px;
    font-size: 1.2rem;
    font-family: 'Varela', sans-serif; }
  .searchSection .countryTable {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); }
  .searchSection .vulnerableGroupTable {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); }
  .searchSection .country,
  .searchSection .vulnerableGroup {
    justify-content: flex-start;
    padding: 5px; }
  .resourcesSection li {
    font-size: 12.5px;
    font-size: 1.25rem;
    font-family: 'Cabin', sans-serif; } }

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto; }

html {
  font-size: 62.5%;
  color: #333333; }

h1 {
  font-size: 45px;
  font-size: 4.5rem;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

h3 {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: 'Cabin', sans-serif;
  text-transform: uppercase;
  color: #D2113A; }

h4 {
  font-size: 23.5px;
  font-size: 2.35rem;
  font-family: 'Cabin', sans-serif;
  color: black; }

ul {
  padding-left: 0; }

li {
  list-style: none;
  font-size: 15px;
  font-size: 1.5rem;
  font-family: 'Cabin', sans-serif; }

a {
  text-decoration: none;
  color: #333333; }

p {
  font-size: 14.5px;
  font-size: 1.45rem;
  font-family: 'Varela', sans-serif;
  line-height: 1.5; }
